table.properties {
	font-size:11px;
	padding: 15px;
}

table.properties td:first-child {
	font-weight:bold;
	padding-right: 20px;
}

table.properties td {
	
}

hr {
	margin-left:15px;
	margin-right:15px;
}

#graph1 {
	min-width:300px;
	min-height:150px;	
}
#graph2 {
	min-width:450;
	min-height:150px;	
}
#graph3 {
	min-width:450;
	min-height:150px;	
}